{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>

    <link rel ="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel ="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

    {% include "navbar.html" %}

</head>
<body>
    {% block body %}
      
    {% endblock %}
</body>
</html>