{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}

<div class ="container">

    <h1>Modal Form Registration</h1>
       <form action="{% url 'modelform' %}" method="post">

             {% csrf_token %}

             <div class="form-group">
                <label>Username</label>
                
                {{modalform.username}}
    
              </div>

              <div class="form-group">
                <label>Password</label>
                
                {{modalform.password}}
    
              </div>

              <div class="form-group">
                <label>Email address</label>
                
                {{modalform.email}}
    
              </div>
    
             <div class="form-group">
                <label>Phone Number</label>
                
                {{modalform.phone}}
    
              </div>
    
            <input type="submit" class="btn btn-success" value="Register"/>

        </form>
</div>
        
{% endblock %}
 