<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>  
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'register' %}">Signup</a></li>
    </ul>
</nav>