{% extends "base.html" %}

{% block title %} News {% endblock %}

{% block body %}

<h1>This is our latest news page</h1>
<h1>{{data.author}}</h1>
<h1>{{data.title}}</h1>
<p>{{data.description}}</p>

{% comment %}

{{list}}

{% for lang in list %}
 <ul>
     <li>{{lang}}</li>
 </ul>


{% endfor %}

{% if mynum == 50 %}

<h1>My condition is True</h1>

{% else %}

<h1>My condition id False</h1>

{% endif %}

{% endcomment %}

{% endblock %}
