{% extends "base.html" %}

{% block title %} Signup Form {% endblock %}

{% block body %}

<div class="container">

    <h1>Signup Form</h1>

    <ul class="messages">
        {% for msg in messages %}

        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">

               {{msg.message}} 
            </div>
        </li>

        {% endfor %}
    </ul>

    <form action="{% url 'addUser' %}" method="post">

        {% csrf_token %}
    {% comment %}   

    {{form.as_p}}

    <input type="submit" value="Register" class="btn btn-success">

    {% endcomment %} 

        <div class="form-group">
          <label for="exampleInputusername">Username</label>
        
          {{form.username}}
        
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            
            {{form.password}}

          </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            
            {{form.email}}

          </div>

        <div class="form-group">
            <label for="exampleInputPhone">Phone Number</label>
            
            {{form.phone}}

          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      

    </form>

</div>


{% endblock %}
 